<%= render('notice') %>

<% if @calculation.errors.any? %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert" id="error_explanation">
    <h5><%= pluralize(@calculation.errors.count, "error") %> prohibited this calculation from being saved:</h5>

    <ul>
      <% @calculation.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'form', calculation: @calculation %>
    </div>
    <div class="col-sm">
      <dl class="row">
        <dt class="col-sm-2">Basic Pay</dt>
        <dd class="col-sm-10"><%= number_with_precision(@calculation.basic_pay, precision: 2, delimiter: ',') %></dd>
      </dl>

      <dl class="row">
        <dt class="col-sm-2">Gross Pay</dt>
        <dd class="col-sm-10"><%= number_with_precision(@calculation.gross_pay, precision: 2, delimiter: ',') %></dd>
      </dl>

      <dl class="row">
        <dt class="col-sm-2">NSSF</dt>
        <dd class="col-sm-10"><%= number_with_precision(@calculation.nssf, precision: 2, delimiter: ',') %></dd>
      </dl>

      <dl class="row">
        <dt class="col-sm-2">Tax</dt>
        <dd class="col-sm-10"><%= number_with_precision(@calculation.tax, precision: 2, delimiter: ',') %></dd>
      </dl>

      <dl class="row">
        <dt class="col-sm-2">Tax Relief</dt>
        <dd class="col-sm-10"><%= number_with_precision(@calculation.basic_pay, precision: 2, delimiter: ',') %></dd>
      </dl>

      <dl class="row">
        <dt class="col-sm-2">PAYE</dt>
        <dd class="col-sm-10"><%= number_with_precision(@calculation.paye, precision: 2, delimiter: ',') %></dd>
      </dl>

      <dl class="row">
        <dt class="col-sm-2">NHIF</dt>
        <dd class="col-sm-10"><%= number_with_precision(@calculation.nhif, precision: 2, delimiter: ',') %></dd>
      </dl>

      <dl class="row">
        <dt class="col-sm-2">Net Pay</dt>
        <dd class="col-sm-10"><%= number_with_precision(@calculation.net_pay, precision: 2, delimiter: ',') %></dd>
      </dl>

      <%= link_to 'New Calculation', new_calculation_path, class: 'btn btn-secondary' %>

      <% if @calculation.tax > 0 %>
        <hr>
        <h5>Tax Calculation Breakdown</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tax Bracket</th>
              <th>Rate</th>
              <th>Amount Taxed</th>
              <th>Tax</th>
            </tr>
          </thead>
          <tbody>
            <% @calculation.calculation_tax_brackets.all.each do |calc_tax_bracket| %>
              <tr>
                <td><%= number_with_precision(calc_tax_bracket.tax_bracket.min, precision: 2, delimiter: ',') %> - <%= number_with_precision(calc_tax_bracket.tax_bracket.human_max, precision: 2, delimiter: ',') %></td>
                <td><%= number_with_precision(calc_tax_bracket.rate, precision: 0, delimiter: ',') %>%</td>
                <td><%= number_with_precision(calc_tax_bracket.amount, precision: 2, delimiter: ',') %></td>
                <td><%= number_with_precision(calc_tax_bracket.total, precision: 2, delimiter: ',') %></td>
              </tr>
            <% end %>
            <tr>
              <td></td>
              <td></td>
              <td><b>Total Tax</b></td>
              <td><%= number_with_precision(@calculation.tax, precision: 2, delimiter: ',') %></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td><b>Tax Relief</b></td>
              <td><%= number_with_precision(@calculation.tax_relief, precision: 2, delimiter: ',') %></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td><b>PAYE</b></td>
              <td><%= number_with_precision(@calculation.paye, precision: 2, delimiter: ',') %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>

    <div class="col-sm">
      <hr>
      <h5>API</h5>
      <p>Access this calculation using REST</p>

      <p class="font-monospace text-muted"><%= "https://thetax.co.ke/api/v1/calculate_paye?basic_pay=#{@calculation.basic_pay}" %></p>
      
      <hr>
      <h5>PAYE Brackets</h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Taxable Pay (Monthly)</th>
            <th>Taxable Pay (Annual)</th>
            <th>Tax Rate</th>
          </tr>
        </thead>
        <tbody>
          <% TaxBracket.all.each do |bracket| %>
            <tr>
              <td><%= number_with_precision(bracket.min, precision: 2, delimiter: ',') %> - <%= number_with_precision(bracket.human_max, precision: 2, delimiter: ',') %></td>
              <td><%= number_with_precision(bracket.annual_min, precision: 2, delimiter: ',') %> - <%= number_with_precision(bracket.annual_max, precision: 2, delimiter: ',') %></td>
              <td><%= number_with_precision(bracket.rate, precision: 0, delimiter: ',') %>%</td>
            </tr>
          <% end %>
        </tbody>        
      </table>

      <div>
        <h5>What is PAYE?</h5>
        <p>PAYE is the amount of tax you pay on your income. It is calculated by taking the tax rate and multiplying it by your taxable income.</p>
        <hr>
        <h5>What is taxed?</h5>
        <p>The amount of income you pay into the tax system. This includes your basic pay, benefits, and other income.</p>
      </div>
    </div>
  </div>
</div>